{% load static %}

<!DOCTYPE html>
<html>
    <head lang="ko">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
        
        <!-- favicon -->
        <link rel="shortcut icon" href="{% static 'favicon/favicon_square.png' %}"/>
        
        <title>AICI : 회원가입</title>

        <style>
            a {
                text-decoration: none;
            }
        </style>
        
    </head>
    <body>
        <div>
            <div class="wrap container w-50 mb-5">

                <header>
                    <div class="text-center p-5">
                        <a href="/"><img src="{% static 'privacy/logo.png' %}" class="w-25 me-5" id="logo"></a>
                    </div>
                </header>
    
                <form action="/" method="POST" id="form__wrap">
                    <div class="terms__check__all border p-5">
                        <div class="borders-bottom border-4 mb-4 ms-1 ps-4 pe-4 pb-3">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="checkAll" id="checkAll">
                                <label class="form-check-label" for="checkAll">
                                    AICI 서비스 이용약관에 모두 동의합니다.
                                </label>
                            </div>
                        </div>
                        <div class="mb-4 ms-1 ps-4 pe-4 pb-3">
                            <p>- 전체동의 시 필수사항 및 선택사항에 대해 일괄 동의하게 되며, 개별적으로도 동의를 선택하실 수 있습니다.</p>
                            <p>- 필수 항목은 서비스 제공을 위해 필요한 항목이므로, 동의를 거부하시는 경우 서비스 이용에 제한이 있을 수 있습니다.</p>
                        </div>
    
    
                        <div class="accordion" id="accordionExample">
                            <!-- 서비스 이용약관 -->
                            <div class="accordion-item border-top-0 border-start-0 border-end-0">
                                <h2 class="accordion-header">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        <div class="input__check form-check m-2">
                                            <input class="form-check-input" type="checkbox" name="agreement" id="termsOfService" value="termsOfService">
                                            <label class="form-check-label" for="termsOfService">
                                                [필수] AICI 서비스 이용약관
                                            </label>
                                        </div>
                                    </button>
                                </h2>
    
                                <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                                    <div class="accordion-body" style="overflow:scroll; height: 10rem;">
                                        <strong>제 1장 총칙</strong>
                                            <br><br>
    <strong>제 1조 목적</strong>
    <br><br>
    "본 약관은 KT(이하 '회사' 라고 합니다.)가 제공하는 온라인 고객 관리 시스템(이하"서비스")를 이용함에 있어 회사와 회원과의 권리, 의무, 이용조건 및 절차에 관한 사항과 기타 이용에 필요한 사항 등을 규정함을 목적으로 합니다."<br>
    <br>
    
    <strong>제 2조 약관의 효력과 변경</strong>
    <br><br>
    ① 본 약관은 서비스를 이용하는 회원에 대하여 그 효력을 발생합니다.<br>
    ② 본 약관의 내용은 AICI 플랫폼 서비스 사이트(#url_link)에 게시하거나 기타의 방법으로 회원에게 공지하고, 이에 동의한 회원이 서비스에 가입함으로써 효력이 발생합니다"<br>
    ③ 회사는 본 약관의 내용과 회사의 상호, 영업소 소재지, 대표자 성명, 사업자 등록번호, 연락처(전화, 전자우편 주소 등) 등을 회원이 알 수 있도록 사이트의 초기 서비스 화면에 게시합니다."<br>
    ④ 본 약관은 회사가 필요하다고 인정되는 경우 대한민국 법령의 범위 내에서 개정할 수 있으며, 회사가 본 약관을 개정할 경우에는 적용예정일 및 개정사유를 명시하여 현행 약관과 함께 서비스 초기화면에 그 적용예정일 7일전부터 공지합니다. 다만, 회원에게 불리하게 약관내용을 변경하는 경우에는 그 적용예정일 30일 전부터 공지하며, 공지하는 것 외에 전자우편 발송 등 전자적 수단을 통해 별도로 통지합니다."<br>
    ⑤ 회원은 개정된 약관에 대해 동의하지 않을 권리가 있으며, 개정된 약관에 동의하지 않을 경우 이용계약을 해지할 수 있습니다. 단, 회사가 제4항에 따라 변경 약관을 공지 또는 통지하면서, 회원이 개정된 약관의 적용일 전까지 거부의사를 표시하지 아니하는 경우 약관의 변경에 동의한 것으로 간주한다는 내용을 공지 또는 통지하였음에도 회원이 명시적으로 거부의사를 표시하지 아니하였다면 회원이 변경 약관에 동의한 것으로 간주합니다. 회원은 변경된 약관에 동의 하지 않을 경우 서비스 이용을 중단하고 이용계약을 해지할 수 있습니다."<br>
    ⑥ 본 약관에 동의하는 것은 회사가 운영하는 서비스 사이트를 정기적으로 방문하여 약관의 변경사항을 확인하는 것에 동의함을 의미합니다. 변경된 약관에 대한 정보를 알지 못하여 발생하는 회원의 피해에 대해 회사는 책임을 지지 않습니다."<br>
    <br>
    <br>
    <strong>제 3조 약관의 해석 및 약관 외 준칙</strong>
    <br><br>
    ① "회사"는 개별 서비스에 대해서 별도의 이용약관 및 운영정책을 둘 수 있으며, 해당 내용이 본 약관과 상충할 경우에는 개별 서비스 별 이용약관(이하 "개별약관"라고 합니다.) 또는 운영정책을 우선하여 적용합니다"<br>
    ② 회사는 개별 약관 등을 제2조 제3항의 방법에 의하여 공지할 수 있으며, 회원은 운영정책을 숙지하고 준수하여야 합니다.<br>
    ③ 본 약관에 명시된 사항은 개별 약관 또는 운영정책, 관련 법령 상관례에 따릅니다.<br>
    <br>
    <br>
    <strong>제 4조 용어의 정의</strong>
    <br>
    본 약관에서 사용하는 용어의 정의는 다음과 같습니다.<br>
    ① 이용자 : 본 약관에 따라 당 사이트가 제공하는 서비스를 받는 자<br>
    ② 회원 : 당 사이트에 개인 정보를 제공하여 회원 등록을 한 자로서, 당 사이트의 정보 및 서비스를 이용할 수 있는 자<br>
    ③ 아이디 : 당 사이트 회원가입 시 발급받은 회원의 신분을 증명하는 고유 코드<br>
    ④ 비밀번호 : 아이디에 대한 본인 여부를 확인하기 위하여 사용하는 문자, 숫자, 특수 문자등의 조합<br>
    ⑤ 가입 : 회원가입 시 제공하는 신청서 양식에 해당 정보를 기입하고, 본 약관에 동의하여 서비스 이용계약을 완료시키는 행위<br>
    ⑥ 탈퇴 : 회원이 이용계약을 종료시키는 행위<br>
    ⑦ 본 약관에서 정의하지 않은 용어는 개별서비스에 대한 별도 약관 및 이용규정에서 정의합니다.<br>
    <br>
    <br>
    <strong>제 2장 서비스 제공 및 이용</strong><br>
    <strong>제 5조 이용 계약의 성립</strong>
    <br><br>
    이용계약은 이용자가 온라인으로 당 사이트에서 제공하는 이용계약 신청서를 작성하여 가입을 완료하는 것으로 성립되며 당 사이트는 다음 각 호에 해당하는 경우에 가입을 취소할 수 있습니다.<br>
    ① 다른 사람의 명의를 사용하여 신청한 경우<br>
    ② 이용계약 신청서의 내용을 허위로 기재하였거나 신청한 경우<br>
    ③ 사회의 안녕 질서 혹은 미풍양속을 저해할 목적으로 신청한 경우<br>
    ④ 다른 사람의 당 사이트 서비스 이용을 방해하거나 그 정보를 도용하는 등의 행위를 한 경우<br>
    ⑤ 당 사이트를 이용하여 법령과 본 약관이 금지하는 행위를 한 경우<br>
    ⑥ 기타 당 사이트가 정한 이용신청요건이 미비한 경우<br>
    ⑦ 당 사이트는 다음 각 호에 해당하는 경우 그 사유가 소멸될 때까지 이용계약 성립을 유보할 수 있습니다.<br>
    ⑧ 서비스 관련 제반 용량이 부족한 경우<br>
    ⑨ 기술상 장애 사유가 있는 경우<br>
    ⑩ 당 사이트가 제공하는 서비스는 자체 개발하거나 다른 기관과의 협의 등을 통해 제공하는 일체의 서비스를 말하는 것이며, 그 내용을 변경할 경우에는 이용자에게 공지한 후 변경하여 제공할 수 있습니다.<br>
    <br>
    <br>
    <strong>제 6조 회원정보 사용에 대한 동의</strong>
    <br>
    회원의 개인정보는 개인정보보호법에 의해 보호되며 개별 사이트의 개인정보처리방침이 적용됩니다.<br>
    ① 당 사이트의 회원 정보는 다음과 같이 수집, 사용, 관리, 보호됩니다.<br>
    ② 개인정보의 수집 : 당 사이트는 회원가입 시 회원이 제공하는 정보를 수집합니다.<br>
    ③ 개인정보의 사용 : 당 사이트는 서비스 제공과 관련해서 수집된 회원정보를 본인의 승낙 없이 제3자에게 누설, 배포하지 않습니다. 단, 전기통신기본법 등 법률의 규정에 의해 국가기관의 요구가 있는 경우, 범죄에 대한 수사상의 목적이 있거나 방송통신심의위원회의 요청이 있는 경우 또는 기타 법령에서 정한 절차에 따른 요청이 있는 경우, 회원이 당 사이트에 제공한 개인정보를 스스로 공개한 경우에는 그러하지 않습니다.<br>
    ④ 개인정보의 관리 : 회원은 개인정보의 보호 및 관리를 위하여 서비스의 개인정보관리에서 수시로 회원의 개인정보를 수정/삭제할 수 있습니다. 수신되는 정보 중 불필요하다고 생각되는 부분도 변경/조정할 수 있습니다.<br>
    ⑤ 개인정보의 보호 : 회원의 개인정보는 오직 회원만이 열람/수정/삭제할 수 있으며, 이는 전적으로 회원의 아이디와 비밀번호에 의해 관리되고 있습니다. 따라서 타인에게 본인의 아이디와 비밀번호를 알려주어서는 아니 되며, 작업 종료 시에는 반드시 로그아웃 해주시고, 웹 브라우저의 창을 닫아주시기 바랍니다(이는 타인과 컴퓨터를 공유하는 인터넷 카페나 도서관 같은 공공장소에서 컴퓨터를 사용하는 경우에 회원의 정보의 보호를 위하여 필요한 사항입니다.)<br>
    <br>
    <br>
    <strong>제 7조 회원의 정보 보안</strong>
    <br>
    ① 가입 신청자가 당 사이트 서비스 가입 절차를 완료하는 순간부터 회원은 입력한 정보의 비밀을 유지할 책임이 있으며, 회원이 본인의 아이디와 비밀번호를 타인에게 제공하여 발생하는 모든 결과에 대한 책임은 본인에게 있습니다.<br>
    ② 회원은 본인의 아이디와 비밀번호를 타인에게 누설하지 않을 책임이 있으며, 회원의 아이디나 비밀번호가 부정하게 사용되었다는 사실을 발견한 경우에는 즉시 당 사이트에 신고하여야 합니다. 신고를 하지 않음으로 인한 모든 책임은 회원 본인에게 있습니다.<br>
    ③ 회원은 당 사이트 서비스의 사용 종료 시마다 정확히 접속을 종료하도록 해야 하며, 정확히 종료하지 아니함으로써 제3자가 이용자 또는 회원에 관한 정보를 이용하게 되는 등의 결과로 인해 발생하는 손해 및 손실에 대하여 당 사이트는 책임을 부담하지 아니합니다.<br>
    <br>
    <br>
    <strong>제 8조 서비스 이용시간</strong>
    <br>
    서비스 이용시간은 당 사이트의 업무상 또는 기술상 특별한 지장이 없는 한 연중무휴, 1일 24시간을 원칙으로 합니다.<br>
    ① 제1항의 이용시간은 정기점검 등의 필요로 인하여 당 사이트가 정한 날 또는 시간 및 예기치 않은 사건사고로 인한 시간은 예외로 합니다.<br>
    <br>
    <br>
    <strong>제 9조 서비스의 중지 및 정보의 저장과 사용</strong>
    <br>
    당 사이트 서비스에 보관되거나 전송된 메시지 및 기타 통신 메시지 등의 내용이 국가의 비상사태, 정전, 당 사이트의 관리 범위 외의 서비스 설비 장애 및 기타 불가항력에 의하여 보관되지 못하였거나 삭제된 경우, 전송되지 못한 경우 및 기타 통신 데이터의 손실이 있을 경우에 당 사이트는 관련 책임을 부담하지 아니합니다.<br>
    ① 당 사이트가 정상적인 서비스 제공의 어려움으로 인하여 일시적으로 서비스를 중지하여야 할 경우에는 서비스 중지 1주일 전의 고지 후 서비스를 중지할 수 있으며, 이 기간 동안 이용자가 고지내용을 인지하지 못한 데 대하여 당 사이트는 책임을 부담하지 아니합니다. 부득이한 사정이 있을 경우 위 사전 고지기간은 감축되거나 생략될 수 있습니다. 또한 위 서비스 중지에 의하여 본 서비스에 보관되거나 전송된 메시지 및 기타 통신 메시지 등의 내용이 보관되지 못하였거나 삭제, 전송되지 못한 경우 및 기타 통신 데이터의 손실이 있을 경우에 대하여도 당 사이트는 책임을 부담하지 아니합니다.<br>
    ② 당 사이트의 사정으로 서비스를 영구적으로 중단하여야 할 경우 제2항에 의거합니다. 다만, 이 경우 사전 고지기간은 1개월로 합니다.<br>
    ③ 당 사이트는 사전 고지 후 서비스를 일시적으로 수정, 변경 및 중단할 수 있으며, 이에 대하여 이용자 또는 제3자에게 어떠한 책임도 부담하지 아니합니다.<br>
    ④ 당 사이트는 이용자가 본 약관의 내용에 위배되는 행동을 한 경우, 임의로 서비스 사용을 제한 및 중지할 수 있습니다. 이 경우 당 사이트는 위 이용자의 접속을 금지할 수 있습니다.<br>
    ⑤ 장기간 휴면 이용자인 경우 안내 메일 또는 공지사항 발표 후 1주일간의 통지 기간을 거쳐 서비스 사용을 중지할 수 있습니다.<br>
    <br>
    <br>
    <strong>제 10조 정보 제공 및 홍보물 게재</strong>
    <br>
    당 사이트는 서비스를 운영함에 있어서 각종 정보를 사이트에 게재하는 방법 등으로 회원에게 제공할 수 있습니다.<br>
    당 사이트는 서비스에 적절하다고 판단하거나 활용 가능성 있는 홍보물을 게재할 수 있습니다.<br>
    <br>
    <br>
    <strong>제 11조 게시물의 저작권</strong>
    <br>
    이용자가 게시한 게시물의 내용에 대한 권리는 이용자에게 있습니다.<br>
    ① 당 사이트는 게시된 내용을 사전 통지 없이 편집, 이동할 수 있는 권리를 보유하며, 다음의 경우 사전 통지 없이 삭제할 수 있습니다.<br>
    ② 본 이용약관에 위배되거나 상용 또는 불법, 음란, 저속하다고 판단되는 게시물을 게시한 경우<br>
    ③ 다른 이용자 또는 제3자를 비방하거나 중상모략으로 명예를 손상시키는 내용인 경우<br>
    ④ 공공질서 및 미풍양속에 위반되는 내용인 경우<br>
    ⑤ 범죄적 행위에 결부된다고 인정되는 내용일 경우<br>
    ⑥ 제3자의 저작권 등 기타 권리를 침해하는 내용인 경우<br>
    ⑦ 기타 관계 법령에 위배되는 경우<br>
    ⑧ 이용자의 게시물이 타인의 저작권을 침해함으로써 발생하는 민·형사상의 책임은 전적으로 이용자가 부담하여야 합니다.<br>
    <br>
    <br>
    <strong>제 12조 이용자의 행동규범 및 서비스 이용제한</strong>
    <br>
    이용자가 제공하는 정보의 내용이 허위인 것으로 판명되거나, 그러하다고 의심할 만한 합리적인 사유가 발생한 경우 당 사이트는 이용자의 본 서비스 사용을 일부 또는 전부 중지할 수 있으며, 이로 인해 발생하는 불이익에 대해 책임을 부담하지 아니합니다.<br>
    ① 이용자가 당 사이트 서비스를 통하여 게시, 전송, 입수하였거나 전자메일 기타 다른 수단에 의하여 게시, 전송 또는 입수한 모든 형태의 정보에 대하여는 이용자가 모든 책임을 부담하며 당 사이트는 어떠한 책임도 부담하지 아니합니다.<br>
    ② 당 사이트는 당 사이트가 제공한 서비스가 아닌 가입자 또는 기타 유관기관이 제공하는 서비스의 내용상의 정확성, 완전성 및 질에 대하여 보장하지 않습니다. 따라서 당 사이트는 이용자가 위 내용을 이용함으로 인하여 입게 된 모든 종류의 손실이나 손해에 대하여 책임을 부담하지 아니합니다.<br>
    ③ 이용자는 본 서비스를 통하여 다음과 같은 행동을 하지 않는데 동의합니다.<br>
    ④ 타인의 아이디(ID)와 비밀번호를 도용하는 행위<br>
    ⑤ 저속, 음란, 모욕적, 위협적이거나 타인의 프라이버시를 침해할 수 있는 내용을 전송, 게시, 게재, 전자메일 또는 기타의 방법으로 전송하는 행위<br>
    ⑥ 서비스를 통하여 전송된 내용의 출처를 위장하는 행위<br>
    ⑦ 법률, 계약에 의하여 이용할 수 없는 내용을 게시, 게재, 전자메일 또는 기타의 방법으로 전송하는 행위<br>
    ⑧ 타인의 특허, 상표, 영업비밀, 저작권, 기타 지적재산권을 침해하는 내용을 게시, 게재, 전자메일 또는 기타의 방법으로 전송하는 행위<br>
    ⑨ 당 사이트의 승인을 받지 아니한 광고, 판촉물, 정크메일, 스팸, 행운의 편지, 피라미드 조직 기타 다른 형태의 권유를 게시, 게재, 전자메일 또는 기타의 방법으로 전송하는 행위<br>
    ⑩ 다른 이용자의 개인정보를 수집 또는 저장하는 행위<br>
    ⑪ 당 사이트는 이용자가 본 약관을 위배했다고 판단되면 서비스와 관련된 모든 정보를 이용자의 동의 없이 삭제할 수 있습니다.<br>
    ⑫ 1항의 규정에 의하여 서비스의 제한을 받게 된 이용자가 위 조치에 대한 이의가 있을 경우에는 이의신청을 할 수 있으나 서비스 제한 시 삭제된 이용자의 데이터에 대해서는 책임지지 아니합니다.<br>
    ⑬ 당 사이트는 제6항의 규정에 의한 이의신청에 대하여 그 확인이 완료될 때까지 이용제한을 연기할 수 있습니다.<br>
    <br>
    <br>
    <strong>제 3장 의무 및 책임</strong><br>
    <strong>제 13조 당 사이트의 의무</strong>
    <br>
    ① 당 사이트는 법령과 본 약관이 금지하거나 미풍양속에 반하는 행위를 하지 않으며, 지속적이고 안정적으로 서비스를 제공하기 위해 노력할 의무가 있습니다.<br>
    ② 당 사이트는 회원의 개인 신상 정보를 본인의 승낙 없이 타인에게 누설, 배포하지 않습니다. 다만, 전기통신관련법령 등 관계법령에 의하여 관계 국가기관 등의 요구가 있는 경우에는 그러하지 아니합니다.<br>
    ③ 당 사이트는 이용자가 안전하게 당 사이트 서비스를 이용할 수 있도록 이용자의 개인정보(신용정보 포함) 보호를 위한 보안시스템을 갖추어야 합니다.<br>
    ④ 당 사이트는 이용자의 귀책사유로 인한 서비스 이용 장애에 대하여 책임을 지지 않습니다.<br>
    <br>
    <br>
    <strong>제 14조 이용자의 의무</strong>
    <br>
    회원 가입 시에 요구되는 정보는 정확하게 기입하여야 합니다. 또한 이미 제공된 회원에 대한 정보가 정확한 정보가 되도록 유지ㆍ갱신하여야 하며, 회원은 자신의 아이디 및 비밀번호를 제3자에게 이용하게 해서는 안 됩니다.<br>
    이용자는 당 사이트의 사전 승낙 없이 서비스를 이용하여 어떠한 영리행위도 할 수 없습니다. 단 개별 사이트에서 별도로 정하는 경우에는 예외로 합니다.<br>
    회원은 당 사이트의 서비스를 이용하여 얻은 정보를 각 사이트의 사전승낙 없이 복사, 복제, 변경, 번역, 출 판·방송 기타의 방법으로 사용하거나 이를 타인에게 제공할 수 없습니다. 단, 개별사이트에서 별도로 정하는 경우에는 예외로 합니다.<br>
    이용자는 당 사이트 서비스 이용과 관련하여 다음 각 호의 행위를 하여서는 안 됩니다.<br>
    ① 다른 회원의 ID를 부정 사용하는 행위<br>
    ② 범죄행위를 목적으로 하거나 기타 범죄행위와 관련된 행위<br>
    ③ 선량한 풍속, 기타 사회질서를 해하는 행위<br>
    ④ 타인의 명예를 훼손하거나 모욕하는 행위<br>
    ⑤ 타인의 지적재산권 등의 권리를 침해하는 행위<br>
    ⑥ 해킹행위 또는 컴퓨터바이러스의 유포행위<br>
    ⑦ 타인의 의사에 반하여 광고성 정보 등 일정한 내용을 지속적으로 전송하는 행위<br>
    ⑧ 서비스의 안전적인 운영에 지장을 주거나 줄 우려가 있는 일체의 행위<br>
    ⑨ 당 사이트에 게시된 정보의 변경<br>
    <br>
    <strong>제 4장 기타</strong><br>
    <strong>제 15조 당 사이트의 소유권</strong>
    <br>
    당 사이트가 제공하는 서비스, 그에 필요한 소프트웨어, 이미지, 마크, 로고, 디자인, 서비스 명칭, 정보 및 상표 등과 관련된 지적재산권 및 기타 권리는 당 사이트에 소유권이 있습니다.<br>
    이용자는 명시적으로 승인받거나 개별 사이트에서 별도로 정하는 경우를 제외하고는 제1항의 소정의 각 재산에 대한 전부 또는 일부의 수정, 대여, 대출, 판매, 배포, 제작, 양도, 재라이센스, 담보권 설정 행위, 상업적 이용 행위를 할 수 없으며, 제3자로 하여금 이와 같은 행위를 하도록 허락할 수 없습니다.<br>
    <br>
    <br>
    <strong>제 16조 양도 금지</strong>
    <br>
    회원이 서비스의 이용권한, 기타 이용계약 상 지위를 타인에게 양도, 증여할 수 없으며, 이를 담보로 제공할 수 없습니다.<br>
    <br>
    <br>
    <strong>제 17조 손해 배상</strong>
    <br>
    당 사이트는 무료로 제공되는 서비스와 관련하여 이용자에게 어떠한 손해가 발생하더라도 당 사이트가 고의로 행한 범죄행위를 제외하고 이에 대하여 책임을 부담하지 아니합니다.<br>
    <br>
    <br>
    <strong>제 18조 면책 조항</strong>
    <br>
    당 사이트는 서비스에 표출된 어떠한 의견이나 정보에 대해 확신이나 대표할 의무가 없으며 회원이나 제3자에 의해 표출된 의견을 승인하거나 반대하거나 수정하지 않습니다. 당 사이트는 어떠한 경우라도 이용자가 서비스에 담긴 정보에 의존해 얻은 이득이나 입은 손해에 대해 책임이 없습니다.<br>
    당 사이트는 이용자간 또는 이용자와 제3자간에 서비스를 매개로 하여 물품거래 혹은 금전적 거래 등과 관련하여 어떠한 책임도 부담하지 아니하고, 이용자가 서비스의 이용과 관련하여 기대하는 이익에 관하여 책임을 부담하지 않습니다.<br>
    <br>
    <br>
    <strong>부칙</strong>
    <br>
    [시행일] 본 약관은 2023년 07월 11일부터 시행됩니다.개정된 약관의 적용일자 이전 이용자 또는 회원은 개정된 이용약관의 적용을 받습니다.
    <li><a href="/terms_of_service">서비스 이용 약관 자세히 보기</a></li>
                                    </div>
                                </div>
                            </div>
    
                            <!-- 개인정보 수집 및 이용동의 -->
                            <div class="accordion-item border-start-0 border-end-0">
                                <h2 class="accordion-header border-bottom">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        <div class="input__check form-check m-2">
                                            <input class="form-check-input" type="checkbox" name="agreement" id="privacyPolicy" value="privacyPolicy">
                                            <label class="form-check-label" for="privacyPolicy">
                                                [필수] 개인정보 수집 및 이용동의
                                            </label>
                                        </div>
                                    </button>
                                </h2>
    
                                <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                    <div class="accordion-body" style="overflow:scroll; height: 10rem;">
                                        <strong>제 1조 총칙</strong> <br><br>
    
    1. 개인정보란 생존하는 개인에 관한 정보로서 성명, 주민등록번호 등에 의하여 당해 개인을 알아볼 수 있는 부호, 문자, 음성, 음향, 영상 및 생체 특성 등에 관한 정보(당해 정보만으로는 특정 개인을 알아볼 수 없는 경우에도 다른 정보와 용이하게 결합하여 알아볼 수 있는 것을 포함)를 말합니다. <br>
    2. 주식회사 KT(이하 “회사”라 한다)는 정보주체의 개인정보를 중요시하며, 『개인정보 보호법』과 개인정보 보호 관련 각종 법규를 준수하고 있습니다. <br>
    3. 회사는 개인정보처리방침을 통하여 정보주체의 개인정보가 어떠한 용도와 방식으로 이용되고 있으며, 개인정보보호를 위해 어떠한 조치가 취해지고 있는지 알려드립니다. <br>
    4. 회사의 개인정보처리방침은 관련 법령 및 내부 운영 방침의 변경에 따라 개정될 수 있습니다. 개인정보처리방침이 개정되는 경우에는 시행일자 등을 부여하여 개정된 내용을 홈페이지(https://aivle.edu.kt.co.kr/)에 지체 없이 공지합니다. <br>
    5. 영업의 전부 또는 일부를 양도하거나 합병 등으로 개인정보를 이전하는 경우 서면 전자우편 등을 통하여 정보주체에게 개별적으로 통지하고, 회사의 과실 없이 정보주체의 연락처를 알 수 없는 경우에 해당하여 서면, 전자우편 등으로 통지할 수 없는 경우에는 홈페이지(https://aivle.edu.kt.co.kr/), 첫 화면에서 식별할 수 있도록 표기하여 30일 이상 그 사실을 공지합니다. 단, 천재지변 등 정당한 사유로 홈페이지 게시가 곤란한 경우에는 2곳 이상의 중앙일간지(정보주체의 대부분이 특정 지역에 거주하는 경우에는 그 지역을 보급구역으로 하는 일간지로 할 수 있습니다.)에 1회 이상 공고하는 것으로 갈음합니다. <br>
    
    <br><br>
    <strong>제 2조 개인정보의 수집ㆍ이용 목적, 항목 및 보유 기간</strong>
    <br><br>
    1. 회사는 교육과정 운영(수강, 출결, 수료, 평가, 교육 이력 관리 등), 훈련비용 지원, 취업서비스 제공 등을 위하여 필요한 범위에서 최소한의 개인정보만을 수집합니다.<br>
    2. 회사는 사상, 신념, 가족 및 친인척관계 등 정보주체의 권리 이익이나 사생활을 뚜렷하게 침해할 우려가 있는 개인정보는 수집하지 않습니다. 다만, 정보주체가 수집에 동의하시거나 다른 법률에 따라 특별히 수집 대상 개인정보로 허용된 경우에는 필요한 범위에서 최소한으로 위 개인정보를 수집할 수 있습니다.<br>
    3. 회사가 수집하는 개인정보 항목과 수집ㆍ이용하는 목적은 다음과 같습니다.<br>
    <br>
    <li><a href="/privacy_policy">개인정보 처리방침 자세히 보기</a></li>
    
    <br><br>
    <strong>제 3조 개인정보의 수집방법</strong>
    <br><br>
    회사는 다음과 같은 방법으로 개인정보를 수집합니다.<br>
    가. 온라인/오프라인 등록 신청서 작성 등을 통해 수집<br>
    <br><br>
    
    <strong>제 4조 개인정보의 파기절차 및 방법</strong>
    <br><br>
    회사는 원칙적으로 개인정보 수집 및 이용목적이 달성된 후에는 해당 정보를 지체 없이 파기합니다. 파기절차 및 방법은 다음과 같습니다.
    <br><br>
    1. 파기 절차<br>
    가. 정보주체의 개인정보는 수집 및 이용목적이 달성된 후 별도의 DB로 옮겨져(종이의 경우 별도의 서류함) 내부 방침 및 기타 관련 법령에 의한 정보보호 사유(보유 및 이용기간 참조)에 따라 일정 기간 저장된 후 파기됩니다.<br>
    나. 별도 DB로 옮겨진 개인정보는 법률에 의한 경우가 아니고서는 보유되는 이외의 다른 목적으로 이용되지 않습니다.<br>
    2. 파기 방법<br>
    가. 종이(서면)에 작성ㆍ출력된 개인정보 : 분쇄하거나 소각 등의 방법으로 파기<br>
    나. DB 등 전자적 파일 형태로 저장된 개인정보 : 재생할 수 없는 기술적 방법으로 삭제<br>
    <br><br>
    <strong>제 5조 수집한 개인정보의 공유 및 제공</strong>
    <br><br>
    1. 회사는 정보주체의 사전 동의 없이 정보주체의 개인정보를 제3자에게 제공하지 않습니다. 다만, 다음의 경우는 예외로 합니다.<br>
    가. 관련 법령(통신비밀보호법, 전기통신사업법, 국세기본법 등)에 특별한 규정이 있는 경우로서, 법령에 정해진 규정과 절차에 따라 제공하는 경우<br>
    2. 교육 서비스 제공과 관련하여 정보주체의 사전 동의를 받아 정보주체의 개인정보를 제3자에게 제공하는 내역은 다음과 같습니다.<br>
    <li><a href="/privacy_policy">개인정보 처리방침 자세히 보기</a></li>
    <br><br><br>
    <strong>제 6조 개인정보 처리의 위탁</strong>
    <br><br>
    회사는 교육과정 위탁 및 그 부대업무 대행 등 정보주체의 편의 증진 등을 위하여 개인정보 처리업무를 외부 전문업체에게 위탁하고 있으며, 수탁자에 대해서는 "위ㆍ수탁계약서" 등을 통하여 관련 법규 및 지침의 준수, 정보보호 및 비밀유지, 제3자 제공 금지, 사고 시 책임부담, 위탁기간 종료 즉시 개인정보의 반납/파기 의무 책임에 관한 사항을 규정하고, 수탁자가 개인정보를 안전하게 처리하는지를 감독하고 있습니다.<br>
    <br><br>
    
    <strong>제 7조 이용자 및 법정대리인의 권리와 그 행사 방법</strong>
    <br><br>
    1. 정보주체께서는 언제든지 개인정보, 개인정보를 이용하거나 제3자에게 제공한 현황, 개인정보 수집ㆍ이용ㆍ제공 등의 동의를 한 현황(이하 '개인정보 등'이라 합니다)에 대한 열람이나 제공을 요구하실 수 있고, 오류가 있는 경우에는 그 정정을 요구하실 수 있으며, 개인정보의 수집ㆍ이용ㆍ제공에 대한 동의를 철회를 하실 수 있습니다.<br>
    2. 정보주체의 개인정보 등에 대한 열람 및 정정, 등록해지(동의철회)를 위해서는 정보주체(법정대리인)가 지정담당자나 고객센터에 요청하여 직접 열람 및 정정(선택적 동의철회 포함), 등록해지(동의철회)를 하실 수 있습니다.<br>
    3. 정보주체께서 본인의 개인정보 등에 대한 열람이나 정정을 요구하시거나 개인정보 수집ㆍ이용ㆍ제공 등의 동의를 철회하시는 경우 정보주체의 신분을 증명할 수 있는 주민등록증, 여권, 운전면허증(신형) 등의 신분증명(사본)을 제시 받아 본인 여부를 확인합니다.<br>
    4. 정보주체의 대리인이 정보주체의 개인정보 등에 대한 열람이나 정정을 요구하거나 정보주체의 개인정보의 수집ㆍ이용ㆍ제공에 대한 동의를 철회하는 경우에는 대리 관계를 나타내는 위임장, 정보주체의 인감증명서와 대리인의 신분증명서 등의 증표를 제시 받아 적법한 대리인인지 여부를 확인합니다.<br>
    5. 정보주체께서는 개인정보 등의 열람이나 제공을 요청하실 수 있으며, 회사는 이러한 요청에 지체 없이 필요한 조치를 취합니다.<br>
    6. 정보주체께서 개인정보 등의 오류에 대한 정정을 요청하신 경우에는 지체 없이 그 오류를 정정하거나 정정하지 못하는 사유를 이용자에게 알리는 등 필요한 조치를 하고, 필요한 조치를 할 때까지는 당해 개인정보를 이용 또는 제공하지 않습니다. 또한 잘못된 개인정보를 제3자에게 이미 제공한 경우에는 정정 처리결과를 제3자에게 지체 없이 통지하여 정정이 이루어지도록 하겠습니다. 다만, 다른 법률에 따라 개인정보의 제공을 요청받은 경우에는 그 개인정보를 제공하거나 이용할 수 있습니다.<br>
    7. 회사는 정보주체의 요청에 의해 해지 또는 삭제된 개인정보를 "개인정보의 보유 및 이용기간"에 명시된 바에 따라 처리하고 그 외의 용도로 열람 또는 이용할 수 없도록 처리하고 있습니다.<br>
    <br><br>
    <strong>제 8조 개인정보 자동 수집장치의 설치 운영 및 그 거부에 관한 사항</strong>
    <br><br>
    회사는 홈페이지 운영에 있어 필요 시 정보주체의 정보를 찾아내고 저장하는 '쿠키(Cookie)'를 운용합니다. 쿠키는 회사의 웹사이트를 운영하는데 이용되는 서버가 정보주체의 브라우저에 보내는 아주 작은 텍스트 파일로서 정보주체의 컴퓨터 하드디스크에 저장됩니다. 정보주체는 웹브라우저의 보안 정책을 통해 쿠키에 의한 정보수집의 허용 거부 여부를 결정하실 수 있습니다.<br>
    1. 쿠키에 의해 수집되는 정보 및 이용 목적<br>
    가. 수집 정보 : ID, 접속IP, 접속로그, 이용 컨텐츠 등 서비스 이용정보<br>
    나. 이용목적<br>
    ㅇ 정보주체의 관심분야에 따라 차별화된 정보를 제공<br>
    ㅇ 접속 빈도나 방문 시간 등을 분석하여 이용자의 취향과 관심분야를 파악하여 타켓(Target) 마케팅에 활용(학습한 교육콘텐츠에 대한 정보와 관심 있게 둘러본 메뉴들에 대한 자취를 추적하여 다음 번 학습 때 개인 맞춤의 교육서비스를 제공, 정보주체들의 습관을 분석 등) 및 서비스 개편 등의 척도로 활용<br>
    2. 정보주체는 쿠키 설치에 대한 선택권을 가지고 있습니다. 따라서 웹브라우저에서 옵션을 설정함으로써 쿠키에 의한 정보 수집 수준의 선택을 조정하실 수 있습니다.<br>
    가. 웹브라우저의 [도구]>[인터넷옵션]>[개인정보]에서 쿠키에 의한 정보수집 수준을 정할 수 있습니다.<br>
    나. 위에 제시된 메뉴를 통해 쿠키가 저장될 때마다 확인을 하거나, 아니면 모든 쿠키의 저장을 거부할 수도 있습니다. 단, 정보주체께서 쿠키 설치를 거부하였을 경우 서비스 제공에 어려움이 있을 수 있습니다.<br>
    <br><br>
    <strong>제9조 개인정보의 기술적, 관리적 보호</strong>
    <br><br>
    회사는 정보주체의 개인정보가 분실, 도난, 유출, 위조.변조 또는 훼손되지 않도록 안전성 확보를 위하여 다음과 같은 기술적ㆍ관리적 대책을 마련하고 있습니다.<br>
    [기술적 보호대책]<br>
    1. 정보주체의 개인정보를 암호화하여 저장하며, 정보통신망을 통해 정보주체의 개인정보 및 인증정보를 송수신 하는 경우에는 안전한 보안서버 구축 등의 조치를 통해 암호화 하여 보호하고 있습니다.<br>
    2. 백신 소프트웨어를 이용하여 컴퓨터바이러스 등에 의한 피해를 방지하기 위한 조치를 취하고 있습니다. 백신 소프트웨어는 주기적으로 업데이트되며 갑작스런 바이러스가 출현할 경우 백신이 나오는 즉시 이를 도입, 적용함으로써 개인정보가 침해되는 것을 방지하고 있습니다.<br>
    3. 정보주체의 개인정보에 대한 불법적인 접근을 차단하기 위해, 외부로부터 접근이 통제된 구역에 시스템을 설치하고, 침입을 차단하는 장치를 이용하고 있으며, 아울러 침입탐지시스템을 설치하여 24시간 침입을 감시하고 있습니다.<br>
    [관리적 보호대책]<br>
    1. 회사는 정보주체의 개인정보를 안전하게 처리하기 위한 내부관리계획을 마련하여 소속 직원이 이를 숙지하고 준수하도록 하고 있습니다.<br>
    2. 회사는 정보주체의 개인정보를 처리할 수 있는 자를 최소한으로 제한하고 접근 권한을 관리하며, 새로운 보안 기술 습득 및 개인정보보호 의무 등에 관해 정기적인 사내 교육과 외부 위탁교육을 통하여 법규 및 정책을 준수할 수 있도록 하고 있습니다. 정보주체의 개인정보를 처리하는 자는 다음과 같습니다.<br>
    가. 개인정보 보호책임자 및 개인정보 보호담당자 등 개인정보 관리 및 개인정보보호 업무를 담당하는 자<br>
    나. 기타 업무상 개인정보의 처리가 불가피한 자<br>
    3. 전 임직원이 정보보호서약서에 서명하게 함으로써 직원에 의한 정보(개인정보 포함)유출을 사전에 방지하고, 수시로 개인정보보호 의무를 상기시키며 준수 여부를 감사하기 위한 내부 절차를 마련하여 시행하고 있습니다.<br>
    4. 개인정보 취급자의 업무 인수인계는 보안이 유지된 상태에서 철저하게 이루어지도록 하여, 입사 및 퇴사 후 개인정보 침해사고에 대한 책임을 명확하게 규정하고 있습니다.<br>
    5. 전산실 및 자료보관실 등을 통제구역으로 설정하여 출입을 통제합니다.<br>
    회사는 정보주체 개인의 실수나 기본적인 인터넷의 위험성 때문에 일어나는 일들에 대해 책임을 지지 않습니다. 정보주체의 개인정보를 보호하기 위해서 자신의 ID와 비밀번호를 철저히 관리하고 책임을 져야 합니다.<br>
    <br><br>
    <strong>제10조 개인정보처리방침 고지</strong>
    <br><br>
    
    회사 개인정보처리방침 공고/시행일자<br>
    시행일자 : 2023.07.11
                                    </div>
                                </div>
    
                        
                        </div>
                        <div class="mt-5 mb-3">
                            <input type="submit" class="next-button btn btn-primary container-fluid btn-lg" value="다음" disabled onclick ="location.href='join'">
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- Footer -->
        <footer
                class="text-center text-lg-start text-white"
                style="background-color: #9baec8;"
                >
            <!-- Grid container -->
            <div class="p-3 pb-3">
                <section class="">
                <div class="row column-gap-5">
                    <div class="col 6mx-auto mt-3">
                    </div>
                    <!-- Grid column -->
                    <div class="col-md-5 col-lg-5 col-xl-5 ms-5 mx-auto mt-3 text-center">
                        <div class="row text-center">
                            <h6 class="col text-uppercase mb-4 font-weight-bold">
                                <a href="/users/privacy_policy" style="color:white;">Privacy Policy</a>
                            </h6>
                            <h6 class="col text-uppercase mb-4 font-weight-bold">
                                <a href="/users/terms_of_service" style="color:white;">Terms of Service</a>
                            </h6>
                            <h6 class="col text-uppercase mb-4 font-weight-bold">
                                <a href="/users/aboutus" style="color:white;">About us</a>
                            </h6>
                        </div>
                        <div
                            class="text-center p-3" >
                            2023 AICI_36 Corp. All rights reserved.
                        </div>
                    </div>
                    <div class="col mx-auto ms-5 mt-3 text-center">
                        <div class="ms-5">
                            <h6 class="text-uppercase font-weight-bold">Follow us</h6>
                            <a
                                class="btn-floating mb-4 rounded-circle"
                                href="https://github.com/jisoo29/AI_36_Project"
                                role="button"
                                ><i class="bi bi-github" style="font-size:2.3rem; color:white;"></i
                                ></a>
                        </div>
                    </div>
                </div>
                </section>
            </div>
        </footer>

        
    </body>
    
</html>


<script>
    'use strict';

    const form = document.querySelector('#form__wrap');
    const checkAll = document.querySelector('.terms__check__all input');
    const checkBoxes = document.querySelectorAll('.input__check input');
    const submitButton = document.querySelector('.next-button');   

    const agreements = {
        termsOfService: false,
        privacyPolicy: false,
        allowPromotions: false,
    };

    form.addEventListener('submit', (e) => e.preventDefault()); // 새로고침(submit) 되는 것 막음

    checkBoxes.forEach((item) => item.addEventListener('input', toggleCheckbox));

    function toggleCheckbox(e) {
        const { checked, id } = e.target;  
        agreements[id] = checked;
        this.parentNode.classList.toggle('active');
        checkAllStatus();
        toggleSubmitButton();
    }

    function checkAllStatus() {
        const { termsOfService, privacyPolicy, allowPromotions } = agreements;
        if (termsOfService && privacyPolicy && allowPromotions) {
            checkAll.checked = true;
        } else {
            checkAll.checked = false;
        }
    }

    function toggleSubmitButton() {
        const { termsOfService, privacyPolicy } = agreements;
        if (termsOfService && privacyPolicy) {
            submitButton.disabled = false;
        } else {
            submitButton.disabled = true;
        }
    }

    checkAll.addEventListener('click', (e) => {
        const { checked } = e.target;
        if (checked) {
            checkBoxes.forEach((item) => {
                item.checked = true;
                agreements[item.id] = true;
                item.parentNode.classList.add('active');
            });
        } else {
            checkBoxes.forEach((item) => {
                item.checked = false;
                agreements[item.id] = false;
                item.parentNode.classList.remove('active');
            });
        }
        toggleSubmitButton();
        });
</script>
